.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
  }
  
  .close-button {
    background-color: white;
    z-index: 102;
    position: absolute;
    border-radius: 10rem;
    top: 12rem;
    right: 19rem;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 78px 4px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 78px 4px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 78px 4px rgba(255,255,255,0.75);
  }
  
  .popup-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 65vw;
    height: 50vh;
    overflow-y: auto;
    display: flex;
    overflow: hidden;
    > * {
        z-index: 101;
    }
    .left_container {
        padding: 1rem;
        width: 35%;
        > * {z-index: 101;}
        .pokemon_main_infos_container {
          display: flex;
          gap: 1rem;
          .pokemon_details {
            color: white;
            gap: 1rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            .pokemon_physical_details {
              font-size: .75rem;
              color: white;
              display: flex;
              gap: 1rem;
            }
            * {
              margin: 0;
            }
          }
          .pokemon_types_container {
              display: flex;
              align-items: center;
              gap: 1rem;
              
              .pokemon_type_img_container{
                  background-color: white;
                  border-radius: 10rem;
                  height: 2.5rem;
                  width: 2.5rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                      height: 1.85rem;
                  }
              }
          }
          * {
            position: relative;
            z-index: 101;
          }
      }
      .pokemon_category {
        position: relative;
        z-index: 101;
        font-size: 1rem;
      }
    }

  
    .right_container {
        width: 65%;
        padding: 2rem 1rem 1rem 2rem;
        background-color: white;
        .stats_container {
          display: flex ;
        }
        .resistances_text {
          width: 100%;
          text-align: center;
        }
        .resistances_container {
          position: relative;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 2rem;
            gap: 1rem;
            margin-bottom: 1rem;
            overflow: auto;
            .resistance {
              display: flex;
              flex-direction: column;
              text-align: center;
              align-items: center;
              .type_icon {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 1rem;
                width: 1.75rem;
                height: 1.75rem;
                .resistance_icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
              }
            }
        }
    }
  
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
      color: white;
    }

    .pokemon_type_img_container {
        display: flex;
        .pokemon_type_img {
            height: 1.5rem ;
        }
    }
  
    .pokemon-sprite {
      position: relative;
      width: 20rem;
      height: 20rem;
      margin-bottom: 10px;
      z-index: 101;
    }
  
    .main-type-icon > img {
      position: absolute;
      top: 0;
      left: -10rem;
      width: 60%;
      height: 110%;
      margin-right: 10px;
      filter: blur(15px);
      z-index: 100;
    }
  
    .pokemon-types {
      margin-bottom: 10px;
  
      span {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: 5px;
  
        &.normal { background-color: #A8A77A; color: white; }
        &.fire { background-color: #EE8130; color: white; }
        &.water { background-color: #6390F0; color: white; }
        &.electric { background-color: #F7D02C; color: black; }
        &.grass { background-color: #7AC74C; color: white; }
        &.ice { background-color: #96D9D6; color: black; }
        &.fighting { background-color: #C22E28; color: white; }
        &.poison { background-color: #A33EA1; color: white; }
        &.ground { background-color: #E2BF65; color: black; }
        &.flying { background-color: #A98FF3; color: white; }
        &.psychic { background-color: #F95587; color: white; }
        &.bug { background-color: #A6B91A; color: white; }
        &.rock { background-color: #B6A136; color: white; }
        &.ghost { background-color: #735797; color: white; }
        &.dragon { background-color: #6F35FC; color: white; }
        &.steel { background-color: #B7B7CE; color: black; }
        &.dark { background-color: #705746; color: white; }
        &.fairy { background-color: #D685AD; color: black; }
        /* Ajoutez d'autres styles pour les types si nécessaire */
      }
    }
  
    .shiny-sprite,
    .gmax-sprite,
    .shiny-gmax-sprite {
      margin-top: 10px;
  
      img {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
  