.homepage_container {
  width: 100%;
  overflow-x: hidden;
  .homepage_top_container {
    display: flex;
    height: 75vh;
    .homepage_left_container {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .pokinator_mascot {
        margin-left: 10rem;
        transform: scale(1.15);
      }
      .pokinator_logo {
        margin-left: 10rem;
        margin-top: -2.5rem;
        transform: scale(.75);
      }
    }
    .homepage_right_container {
      width: 70%;
      .choice_btn_list_container {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
      }  
      .question_area_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
      }      
    }
  }
  .hommepage_bottom_container {
    padding: 2rem 15% 0 15%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
}

.homepage-background-container {
  position: absolute;
  top: -1rem;
  left: -1rem;
  z-index: -1;
  height: 75vh;
  width: 105%;
  overflow: hidden;
  img {
    filter: blur(7.5px);
    height: 100%;
    width: 110%;
  }
}

.settings {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  top: 5rem;
  right: 5rem;
  z-index: 1000;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
  background-color: white;
  transition: all 0.3s ease-in-out;
  .settings_visual {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .display_placeholder {
      font-size: 1rem;
    } 
  }
  img {
    margin-right: 1rem;
    height: 2rem;
    transition: all 0.3s ease-in-out;
  }
  .inactive {
    display: none;
  }
  .active {
    top: 4rem;
    right: 0;
    position: absolute;
    display: block;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 15rem;
  }
  .placeholder_text {
    font-size: 0;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    width: 10rem;
    .placeholder_text {
      font-size: 1rem;
      display: block;
    }
    img {
      margin-right: -.9rem;
    }
  }
}


.settings_fullsize {
  position: fixed;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  top: 5rem;
  right: 5rem;
  z-index: 1000;
  height: 3rem;
  cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    background-color: white;
    transition: all 0.3s ease-in-out;
  .settings_visual {
    display: flex;
    padding-left: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .display_placeholder {
      font-size: 1rem;
    } 
  }
  img {
    margin-right: 1rem;
    height: 2rem;
    transition: all 0.3s ease-in-out;
  }
  .inactive {
    display: none;
  }
  .active {
    top: 4rem;
    right: 0;
    position: absolute;
    display: block;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 10rem;
    p {
      text-align: center;
    }
    .language_btn_list {
      display: flex;
      justify-content: space-evenly;
    }
    .range_container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      .range_label {
        font-size: 0.8rem;
        font-weight: 500;
        color: #000000;
        text-transform: capitalize;
      }
    }
    .save_btn_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      background-color: rgb(0, 110, 255);
      border: none;
      border-radius: .5rem;
      padding: 0.5rem 1rem 0.5rem 1rem;
      color: white;
      cursor: pointer;
      &:hover {
          background-color: rgb(0, 90, 200);
      }
    }
  }
  .placeholder_text {
    font-size: 0;
    transition: all 0.3s ease-in-out;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
